/*Signage 5 - App.css*/

.buttonDiv{
    color: white;
    height: 27vh;
    position: relative;
    text-align: center;
    display: grid;
    grid-template-columns: 1fr 0.9rem 1fr;
}

.slick-track{
    height: 40rem;
    width: 100%;
    overflow: hidden;
    display: inline-block;
}

img{
    object-fit: fill;
    height: 100%;
    display: block;
    margin-left: auto;
    margin-right: auto;
}

.buttonDiv > div{
    font-family: 'yg-jalnan';
    color: white;
    font-size: 2.7rem;
    padding-top: 6rem;
    background: deepskyblue;
}

.this_place{
    background: deepskyblue;
    color: white;
    text-align: center;
    font-weight: bolder;
    font-size: 1.2rem;
    width: 5rem;
    height: 2rem;
    margin-bottom: 3rem;
}

.park{
    bottom: 1rem;
    position: relative;
    text-align: left;
    font-size: 2.6rem;
    line-height: 1.1rem;
}

.an{
    color: black;
    letter-spacing: -2px;
    font-size: 1.3rem;
    bottom: 1.2rem;
    text-align: left;
    position: relative;
    font-family: none;
    font-weight: bold;
    margin: 0;
}

.whole{
    position: relative;
    top: 5rem;
    left: 5rem;
}


@font-face {
    font-family: 'yg-jalnan';
    src: url('https://cdn.jsdelivr.net/gh/projectnoonnu/noonfonts_four@1.2/JalnanOTF00.woff') format('woff');
}


.slick-arrow::after {
    content: '';
    display: block;
    position: absolute;
    left: 50%;
    top: 50%;
    z-index: 1;
    height: 1rem;
    width: 1rem;
    border: 1px solid black;
    border-width: 0 7px 7px 0;
    margin-left: -2px;
    padding: 10px;
}

.slick-next,
.slick-prev{
    z-index: 1;
}

.slick-prev::after {
    left: 350%;
    -webkit-transform: translate(-50%, -50%) rotate(135deg);
    transform: translate(-50%, -50%) rotate(135deg);
}

.slick-next::after {
    left: -270%;
    -webkit-transform: translate(-50%, -50%) rotate(-45deg);
    transform: translate(-50%, -50%) rotate(-45deg);
}
