/*Signage 3 slide*/


/*time, date*/
.header{
    padding-top: 2rem;
    background-color: black;
    color: white;
    height: 9rem;
}

.date{
    font-size: 1.8rem;
}


.time{
    margin-bottom: 1rem;
    font-weight: bold;
    font-size: 2.8rem;
}



.button_div {
    display: grid;
    grid-template-rows: 1fr 0.2rem 1fr;
}


#skipButton,
#qrButton
{
    opacity: 0.9;
    color: white;
    background-color: black;
    display: inline-block;
    position: relative;
    left: 79%;
    top: 45rem;
    white-space: nowrap;
    font-size: 2rem;
    width: 20%;
}


/*slider*/
Slider{
    overflow-x: hidden;
    overflow: hidden;
}

/*slide height*/
.slick-track{
    overflow: hidden;
}

img{
    object-fit: fill;
    height: 30rem;
    display: block;
    margin-left: auto;
    margin-right: auto;
}

/*하단에 버튼 옆옆 라인*/
.line {
    border-left: 2px solid darkgrey;
    /*border-right: 2px solid darkgrey;*/
}

.social > button,
.social > p{
    display:table-cell;
    vertical-align:middle;
    width: 100%;
}


/*맨 맽에 버튼을 포괄적으로 감싸고있는*/
.social {
    display:grid;
    font-family: 'yg-jalnan';
    background-color: black;
    color: white;
    top: 2rem;
    font-size: 3rem;
    text-align: center;
    height: 30%;
    grid-template-columns: 1fr 1fr;
    line-height: 5rem;
}

/*hotpink button*/
.social button{
    background-color: deeppink;
    width: 5rem;
    font-size: 2.2rem;
    border-top-left-radius: 0.4rem;
    border-top-right-radius: 0.4rem;
    border-bottom-left-radius: 0.4rem;
    border-bottom-right-radius: 0.4rem;
}


.font {
    font-family: 'yg-jalnan';
    text-shadow: 2px 2px 0 #727272;
}

@font-face {
    font-family: 'yg-jalnan';
    src: url('https://cdn.jsdelivr.net/gh/projectnoonnu/noonfonts_four@1.2/JalnanOTF00.woff') format('woff');
}
