/*signage 4 app.js */

html,body{
    margin: 0;
    text-align: center;
}

.h1{
    text-align: center;
    font-family: 'GangwonEduPowerExtraBoldA';
    text-shadow: 3px 3px #727272;
    -webkit-text-stroke: 2px black;
    font-size: 3.5rem;
    position: relative;
    color: white;
    margin-top: 3rem;
    margin-bottom: 1rem;
}


.h2{
    color: white;
    text-align: center;
    font-family: 'TTTogether';
    font-weight: initial;
    font-size: 1.3rem;
    -webkit-text-stroke: 0.8px black;
    line-height: 200%;
    text-shadow: 0px 0px;
    border-top-left-radius: 30px; border-top-right-radius: 30px;
    border: 2.2px solid black;
    background-color: #fff14f;
    margin-bottom: 0;
    display: inline-block;
    width: 39.7rem;
}


.h4{
    margin-top: 10rem;
    text-align: left;
    font-family: 'TTTogether';
    -webkit-text-stroke: 0.5px black;
    font-weight: bolder;
    font-size: 2.15rem;
    color: white;
    text-shadow: 1px 1px 0 #727272;
    position: relative;
}

.btn_a,
.btn_b{
    text-shadow: 1px 1px 0 #727272;
    background-color: #fff14f;
    border-radius: 11px;
    box-shadow: 4px 4px 0 #727272;
    color: white;
    height: 6vh;
    -webkit-text-stroke-width: 1px;
    -webkit-text-stroke-color: black;
    position: relative;
    font-size: 1.7rem;
    width: 30vw;
    font-family: 'TTTogether';
    text-align: center;
    margin: 1.2rem;
}

.A{
    width: 10px;

}


.STEP>td{
    font-family: none;
    border-top-left-radius: 15px; border-top-right-radius: 15px;
    border-bottom-left-radius: 15px; border-bottom-right-radius: 15px;
    text-align: center;
    background-color: #553830;
    color: white;
    font-size: 0.7rem;
}


table{
    border-bottom: 2.2px solid black;
    border-left: 2.2px solid black;
    border-right: 2.2px solid black;
    width: 40rem;
    background-color: white;
    position: relative;
    padding: 2rem;
    text-align: center;
    display: inline-block;
    height: 40rem;
    font-size: 1.2rem;
}

img{
    width: 8rem;
    height: 8rem;
    padding: 30px;
}



.font{
    font-family: 'yg-jalnan';
    text-shadow: 2px 2px 0 #727272;
}

.font{
    font-family: 'TTTogether';
    text-shadow: 2px 2px 0 #727272;
}

@font-face {
    font-family: 'TTTogether';
    src: url('https://cdn.jsdelivr.net/gh/projectnoonnu/noonfonts_2001@1.1/TTTogetherA.woff') format('woff');
    font-weight: normal;
    font-style: normal;
}

@font-face {
    font-family: 'yg-jalnan';
    src: url('https://cdn.jsdelivr.net/gh/projectnoonnu/noonfonts_four@1.2/JalnanOTF00.woff') format('woff');
    font-weight: normal;
    font-style: normal;
}

@font-face {
    font-family: 'GangwonEduPowerExtraBoldA';
    src: url('https://cdn.jsdelivr.net/gh/projectnoonnu/noonfonts_2201-2@1.0/GangwonEduPowerExtraBoldA.woff') format('woff');
    font-weight: normal;
    font-style: normal;
}