
html,body{
     margin: 0;
    text-align: center;
}


.h1{
    text-align: center;
    font-family: 'GangwonEduPowerExtraBoldA';
    text-shadow: 3px 3px #727272;
    -webkit-text-stroke: 2px black;
    font-size: 5rem;
    position: relative;
    color:white;
    margin-top: 8rem;
}

img{
    display: none;
}

/*쉘터 사이니지를 100% 활용할 수 있는 방법!*/
.h2_f{
    color: white;
    text-align: center;
    font-family: 'TTTogether';
    font-weight: initial;
    font-size: 0.9rem;
    -webkit-text-stroke: 0.8px black;
    line-height: 200%;
    text-shadow: 0px 0px;
    border-top-left-radius: 20px; border-top-right-radius: 20px;
    border: 1px solid black;
    background-color: #fff14f;
    margin-bottom: 0;
    display: inline-block;
    margin-left: 1rem;
    margin-right: 1rem;
    width: 18rem;
}


#arrow{
    width: 2vh;
    height: 4vw;
}

#pic{
    height: 7vh;
    width: 15vw;
}

#picTd{
    padding: 1rem;
}


#h4{
    text-align: left;
    font-family: 'TTTogether';
    -webkit-text-stroke: 0.5px black;
    font-weight: bolder;
    font-size: 1.3rem;
    color: white;
    text-shadow: 1px 1px 0 #727272;
    position: relative;
    bottom: 0.5rem;
}

/*하단에 노란색 버튼*/
#button_a,
#button_b{
    text-shadow: 1px 1px 0 #727272;
    background-color: #fff14f;
    border-radius: 11px;
    box-shadow: 4px 4px 0 #727272;
    color: white;
    height: 5vh;
    -webkit-text-stroke-width: 1px;
    -webkit-text-stroke-color: black;
    position: relative;
    font-size: 2.5rem;
    width: 30vw;
    font-family: 'TTTogether';
    text-align: center;
}

td{
    position: relative;
    width: 100%;
}

td[title="STEP"]{
    font-family: none;
    border-top-left-radius: 15px; border-top-right-radius: 15px;
    border-bottom-left-radius: 15px; border-bottom-right-radius: 15px;
    text-align: center;
    background-color: #553830;
    color: white;
    font-size: 0.7rem;
}

body{
    background-color: #afe5fe;
}

.info_section{
    margin-top: 1rem;
}

.social_section{
    padding: 1rem;
    text-align: center;
    display: inline-block;
    position: relative;

}


#h{
    position: relative;
    width: 100%;
    height: 2vh;
}


span.n{
    color: #D94800;
}

tr[title="num"]{
    color: #ff4500;
}






@media all and (min-width:768px){
/* 기본 CSS */
    #wrap{
        height: 100vh;
    }



    .h2_f{
        height: 3rem;
        font-size: 1.5rem;
    }

    td[title="STEP"]{
    font-size: 1.2rem;
    height:1.4rem;
    }



#beside{
    width: 4rem;
}

}


















.font{
    font-family: 'yg-jalnan';
    text-shadow: 2px 2px 0 #727272;
}

.font{
    font-family: 'TTTogether';
    text-shadow: 2px 2px 0 #727272;
}
@font-face {
    font-family: 'TTTogether';
    src: url('https://cdn.jsdelivr.net/gh/projectnoonnu/noonfonts_2001@1.1/TTTogetherA.woff') format('woff');
    font-weight: normal;
    font-style: normal;
}

@font-face {
    font-family: 'yg-jalnan';
    src: url('https://cdn.jsdelivr.net/gh/projectnoonnu/noonfonts_four@1.2/JalnanOTF00.woff') format('woff');
    font-weight: normal;
    font-style: normal;
}

@font-face {
    font-family: 'GangwonEduPowerExtraBoldA';
    src: url('https://cdn.jsdelivr.net/gh/projectnoonnu/noonfonts_2201-2@1.0/GangwonEduPowerExtraBoldA.woff') format('woff');
    font-weight: normal;
    font-style: normal;
}

